/* banner e logo */
.logo {
    width: 200px;
    margin-top: 40px;
    margin-left: 10px;
}

.banner {
    height: 100px;
    background-color: #4ea0ff;
    background-image: url(../img/pattern.png);
    background-repeat: repeat-x;
    background-position: top;
}

/* titolo */
.title {
    font-size: 30px;
}

/* article credits */
.grey {
    color: grey;
}

.blue {
    color: #20a9e5;
}

.date {
    font-size: 12px;
}